<!-- Template for Adding a Doctor -->
{% extends 'hospital/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" enctype="multipart/form-data" action="/add_schedule_post">
    {% csrf_token %}
  <table width="500" cellpadding="10">
    <tr>
      <!-- Name Field -->
      <th width="167" scope="row"><label for="textfield">Doctor:</label></th>
      <td><select name="select" id="textfield" class="form-control bg-white border border-primary">
        {% for i in data %}
            <option value="{{ i.id }}">{{ i.name }}</option>
        {% endfor %}
      </select></td>
    </tr>
    <tr>
      <!-- Name Field -->
      <th width="167" scope="row"><label for="textfield">Date:</label></th>
      <td><input type="date" name="textfield" id="textfield" required class="form-control bg-white border border-primary" placeholder="Date"/></td>
    </tr>
    <tr>
      <!-- Specialization Field -->
      <th width="167" scope="row"><label for="textfield4">Start Time:</label></th>
      <td><input type="time" name="sp" id="textfield4" required class="form-control bg-white border border-primary" placeholder="Start Time"/></td>
    </tr>
    <tr>
      <!-- Qualification Field -->
      <th width="167" scope="row"><label for="textfield4">End Time:</label></th>
      <td><input type="time" name="q" id="textfield4" required class="form-control bg-white border border-primary" placeholder="End Time"/></td>
    </tr>
    <tr>
      <!-- Submit Button -->
      <th colspan="2" scope="row"><input type="submit" class="btn btn-primary w-100 py-3" name="button" id="button" value="Add" /></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}
