{% extends 'admin/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" enctype="multipart/form-data" action="/edit_hospital_post/{{ data.id }}#view_spot">
    {% csrf_token %}
  <table width="500" cellpadding="10">
{#    <tr>#}
{#      <th width="167" scope="row">Image:</th>#}
{#      <td><label for="fileField"></label>#}
{#          <img alt="image" src="{{ data.photo }}" width="100px" height="150px">#}
{#      <input type="file" name="fileField" id="fileField" class="form-control bg-white border border-primary" /></td>#}
{#    </tr>#}
  <tr>
{#    <tr><th scope="row">College Name:</th>#}
        <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" value="{{ data.name }}" required class="form-control bg-white border border-primary" placeholder="Name"/></td>


    </tr>
    <tr>
{#      <th scope="row">Email:</th>#}
      <td><label for="textfield2"></label>
      <input type="email" name="textfield2" class="form-control bg-white border border-primary" value="{{ data.email }}" readonly pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" id="textfield2" placeholder="Email"/></td>
    </tr>
    <tr>
{#      <th scope="row">Phone:</th>#}
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" required pattern="[0-9]{10}" value="{{ data.phone }}" class="form-control bg-white border border-primary" placeholder="Phone"/></td>
    </tr>
    <tr>
{#      <th scope="row">Place:</th>#}
      <td><label for="textfield4"></label>
      <input type="text" name="textfield4" id="textfield4" required value="{{ data.place }}" class="form-control bg-white border border-primary" placeholder="Place"/></td>
    </tr>
    <tr>
{#      <th scope="row">Post:</th>#}
      <td><label for="textfield5"></label>
      <input type="text" name="textfield5" id="textfield5" required value="{{ data.post }}" class="form-control bg-white border border-primary" placeholder="Post"/></td>
    </tr>
    <tr>
{#      <th scope="row">Pin:</th>#}
      <td><label for="textfield6"></label>
      <input type="text" name="textfield6" id="textfield6" required value="{{ data.pin }}" pattern="[0-9]{6}" class="form-control bg-white border border-primary" placeholder="Pin" /></td>
    </tr>
      <tr><td colspan="2"><div class="rounded border border-primary" id="gmap"></div></td></tr>
    <tr>
{#      <th scope="row">Pin:</th>#}
      <td><label for="textfield7"></label>
      <input type="text" name="textfield7" id="textfield7" required value="{{ data.latitude }}" class="form-control bg-white border border-primary" placeholder="Latitude" /></td>
    </tr>
    <tr>
{#      <th scope="row">Pin:</th>#}
      <td><label for="textfield8"></label>
      <input type="text" name="textfield8" id="textfield8" required value="{{ data.longitude }}" class="form-control bg-white border border-primary" placeholder="Longitude" /></td>
    </tr>

{#      <tr>#}
{#      <th scope="row">Password:</th>#}
{#      <td><label for="textfield7"></label>#}
{#      <input type="date" name="textfield7" id="textfield7" required value="{{ data.dob }}" class="form-control bg-white border-0"/></td>#}
{#    </tr>#}
{##}
{#      <tr>#}
{#      <th scope="row">Password:</th>#}
{#      <td><label for="textfield8"></label>#}
{#      <input type="text" name="textfield8" id="textfield8" pattern="[0-9]{2}" value="{{ data.age }}" required class="form-control bg-white border-0" placeholder="Age"/></td>#}
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" class="btn btn-primary w-100 py-3" name="button" id="button" value="Update" /></th>
    </tr>
  </table>
</form>
</body>
</html>
        <script type="text/javascript"
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6v5-2uaq_wusHDktM9ILcqIrlPtnZgEk&sensor=false">
</script>
<script type="text/javascript">

    var map;
        function initialize() {
            var myLatlng = new google.maps.LatLng(11.618061975930,75.36565089010);
            var myOptions = {
                zoom:7,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById("gmap"), myOptions);
            // marker refers to a global variable
            marker = new google.maps.Marker({
                position: myLatlng,
                map: map
            });

            google.maps.event.addListener(map, "click", function(event) {
                // get lat/lon of click
                var clickLat = event.latLng.lat();
                var clickLon = event.latLng.lng();

                // show in input box
                document.getElementById("textfield8").value = clickLat.toFixed(5);
                document.getElementById("textfield7").value = clickLon.toFixed(5);

{#                  var marker = new google.maps.Marker({#}
{#                        position: new google.maps.LatLng(clickLat,clickLon),#}
{#                        map: map#}
{#                     });#}
            });
    }

    window.onload = function () { GetMylocation() };


</script>
     <style>
 div#gmap {

        width: 500px;
        height: 500px;
        border:#0d95e8;
 }
    </style>

{#    <form id="form1" runat="server">#}
<center>
<!-- MAP HOLDER -->

<!-- REFERENCES -->
{#Lat: <input type="text" id='lat'>#}
{#Lon: <input type="text" id='lon'>#}

</center>




<script>

function GetMylocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
    //x.innerHTML = "Geolocation is not supported by this browser.";
      alert("Geolocation is not supported by this browser.")
  }
}
var x1 = document.getElementById("textfield7");
var x2 = document.getElementById("textfield8");
var map;
function showPosition(position) {
  x1.value=position.coords.latitude;
  x2.value=position.coords.longitude;

  var myLatlng = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
            var myOptions = {
                zoom:14,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById("gmap"), myOptions);
            // marker refers to a global variable
            marker = new google.maps.Marker({
                position: myLatlng,
                map: map
            });

            google.maps.event.addListener(map, "click", function(event) {
                // get lat/lon of click
                var clickLat = event.latLng.lat();
                var clickLon = event.latLng.lng();

                // show in input box
                document.getElementById("textfield7").value = clickLat.toFixed(5);
                document.getElementById("textfield8").value = clickLon.toFixed(5);

{#                  var marker = new google.maps.Marker({#}
{#                        position: new google.maps.LatLng(clickLat,clickLon),#}
{#                        map: map#}
{#                     });#}
            });


}
</script>
{% endblock %}