{% extends 'transport/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table class="table table-bordered table-primary ">
  <tr class="bg-primary border border-white text-white">
    <th scope="col">#</th>
{#    <th scope="col">photo</th>#}
    <th scope="col">name</th>
    <th scope="col">from</th>
    <th scope="col">to</th>
    <th scope="col">status</th>
{#    <th scope="col">dob</th>#}
{#    <th scope="col">age</th>#}
{#    <th scope="col">Approve</th>#}
{#    <th scope="col">Reject</th>#}
{#    <th scope="col">block</th>#}
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}</td>
{#    <td><img src="{{ i.photo }}" width="100px" height="150px" alt="image"> </td>#}
    <td>{{ i.USER.name }}</td>
    <td>{{ i.from_place }}</td>
    <td>{{ i.to_place }}</td>
    <td>{{ i.status }}</td>
{#    <td>{{ i.place }}<br/>{{ i.post }}<br/>{{ i.pin }}</td>#}
{#    <td>{{ i.dob }}</td>#}
{#    <td>{{ i.age }}</td>#}
{#    <td align="center"><a class="btn btn-success py-3 px-5" href="/approve_concession/{{ i.id }}#aaa" onclick="return confirm('Are you sure?')">approve</a></td>#}
{#    <td align="center"><a class="btn btn-danger py-3 px-5" href="/reject_concession/{{ i.LOGIN.id }}#aaa" onclick="return confirm('Are you sure?')">reject</a></td>#}
{#    <td><a href="/neurologist_approve/{{ i.LOGIN.id }}">block</a></td>#}
  </tr>
    {% endfor %}
</table>
</body>
</html>
{% endblock %}