{% extends 'User/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table class="table table-bordered table-primary ">
  <tr class="bg-primary border border-white text-white">
    <th scope="col">#</th><th scope="col">Name</th>
    <th scope="col">DATE</th>
    <th scope="col">SCHEDULE</th>
    <th scope="col">DOCTOR</th>
    <th scope="col">Bookings</th>
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ i.date }}</td>
    <td>{{ i.from_time }} - {{ i.to_time }}</td>
    <td>{{ i.DOCTOR.name }}</td>
    <td align="center"><a class="btn btn-danger py-3 px-5" href="/hosp_view_appointments/{{ i.id }}#aaa" onclick="return confirm('Are you sure?')">Appointment</a></td>
  </tr>
    {% endfor %}
</table>
</body>
</html>
{% endblock %}
